
.options {
    display: flex;
    gap: 8em;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.rock , .paper, .scissors {
    padding: 50px 80px;
    font-size: larger;
    font-weight: 700

}

.result {
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    font-size: larger;
    color: aliceblue;
    font-size: xx-large;
}

.current_score {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: x-large;
}